<connectionStrings>
  <add name="DrawNetEntities" connectionString="metadata=res://*/DrawNet.csdl|res://*/DrawNet.ssdl|res://*/DrawNet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R01V158\SQLEXPRESS;initial catalog=DrawNet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-R01V158\SQLEXPRESS;Initial Catalog=DrawNet;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
